body{
    background-image: url("../fon.jpg");
}


.menu,
.center
{ border: 2px solid black;
   
}

.menu {
    width: 7%;
    height: 555px;
    float:left;
     }

.center {
    width: 92%;
    height: 555px;
    float:left;
    }

.zagol{
    width: 99%;
    height: 74px;
    border: 2px solid black;
}
.text_zagol{
    text-align:center;
    margin-top: -5px;
}
.samolet{
    
}


.vertolet{

}

.raznoe{

}

h4 {
  text-align:center;
}
 

h4 a:hover{
border-bottom:2px solid black;
}
a { text-decoration:none;
}
.poisk { 
    width: 15%;
    height: 25px;
    margin-left:1300px;
}	
.text_zagol2 {
margin-bottom: -35px;
}

.pppp {
margin-top:3px;

}
.f-35 {
    width: 200px;
    height: 150px;
    margin-top: 40px;
    margin-left: 35px;
    //border:2px solid black;
    border-radius: 15px
}

.f35 {
margin-left: 120px;

}
//anketa{
    width: 10%;
    height: 25px;
    border:2px solid black;
     float:right;
     margin-top:33px;
     border-radius: 15px
}
.Questionnaire{
    margin-left:800px;

}
.anketa_1{
      margin-top: -16px;
}
input[type="search"]{
width: 200px;
height: 25px;
border-radius: 4px;
background-color: #96FFFA;




}

input[type="submit"]:focus{
  box-shadow: 2px 2px 4px #000;

}
input[name="nsy"]{
     width: 10%;
     height: 25px;
     border:2px solid black;
     float:right;
     margin-top:33px;
     margin-right: 5px;
     background-color: #526992;
     border-radius: 15px
     
}



